In [1]:
import pandas as pd
import numpy as np

labels = ['a','b','c']
my_data = [10,20,30]
a1 = np.array(my_data)
d = {'a':10,'b':20,'c':30}

s1 = pd.Series(my_data)
print(s1)

0    10
1    20
2    30
dtype: int64

In [2]:
s2 = pd.Series(data=my_data, index=labels)
print(s2)

a    10
b    20
c    30
dtype: int64

In [3]:
s3 = pd.Series(a1,labels)
print(s3)

a    10
b    20
c    30
dtype: int64

In [4]:
s4  = pd.Series(d)
print(s4)

a    10
b    20
c    30
dtype: int64

In [5]:
matrix_data = np.random.randint(1,10,size=20).reshape(5,4)
row_labels = ['A','B','C','D','E']
column_headings = ['W','X','Y','Z']
df = pd.DataFrame(data=matrix_data, index=row_labels,columns=column_headings)
print(df)

   W  X  Y  Z
A  3  6  3  2
B  8  2  1  5
C  5  5  5  7
D  5  5  7  5
E  8  6  8  3

In [6]:
d={'a':[10,20],'b':[30,40],'c':[50,60]}
df2=pd.DataFrame(data=d,index=['X','Y'])

print(df2)

    a   b   c
X  10  30  50
Y  20  40  60

In [7]:
df2.head()

    a   b   c
X  10  30  50
Y  20  40  60

In [11]:
print(df.columns)

Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [16]:
matrix_data = np.random.randint(1,100,100).reshape(25,4)
column_headings = ['W','X','Y','Z']
df = pd.DataFrame(data=matrix_data,columns=column_headings)

In [18]:
print(df[['X', 'Z']])

     X   Z
0   93  98
1   82  72
2   11  97
3   47  89
4   20  56
5   99  61
6   65   2
7   44  53
8    2  53
9   82  24
10  63  21
11  81  72
12  94  59
13  46   1
14  73  70
15  24  81
16  37  71
17  11  22
18  12  10
19  55  29
20  59  81
21  53  13
22  97   5
23  66  19
24   7  12

In [19]:
df.head()

    W   X   Y   Z
0  85  93  64  98
1  63  82   1  72
2  60  11  10  97
3  49  47  15  89
4  23  20  45  56

In [22]:
df.iloc[0:2]

    W   X   Y   Z
0  85  93  64  98
1  63  82   1  72

In [24]:
df.iloc[0:2][['W', 'Z']]

    W   Z
0  85  98
1  63  72

In [25]:
df.drop('X', axis=1, inplace=True)
df

     W   Y   Z
0   85  64  98
1   63   1  72
2   60  10  97
3   49  15  89
4   23  45  56
5   77  52  61
6   42  77   2
7   16  51  53
8   50  13  53
9   10  96  24
10  77   6  21
11   3   2  72
12   1  60  59
13  93  72   1
14  17  85  70
15   5  12  81
16  49  37  71
17  42  27  22
18  90  17  10
19  45  26  29
20  96  78  81
21  15  97  13
22   6  59   5
23  27  21  19
24  22  62  12